<app-navbartop></app-navbartop>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>

<div class="uk-section-large altura-total ">
    <div class="uk-container text-center">
        <div class="uk-grid uk-child-width-1-2@l" uk-grid>
            <div class="uk-margin-large-top">
                <h1>
                    Seja bem-vindo a <span>Fluxodevcamp</span>
                </h1>
                <p class="paragrafo uk-margin-medium-top uk-text-justify uk-margin-medium-bottom ">
                    Aqui aprenderas tudo sobre desenvolvimento. Então não perca o seu tempo faça a sua candidatura
                </p>
                <a routerLink="/form-fluxodevcamp" class="uk-button uk-border-rounded lin-button uk-text-large">Inscreva-se</a>
            </div>
           <div class="uk-text-right">
                <img src="assets/web.jpeg" alt="website-background">
            </div>
        </div>
    </div>
</div>
<!--As tecnologias-->
<div class="uk-section background-ferramentas">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l" uk-grid>
            <div>
                <img src="assets/angular.svg" alt="angular">
            </div>
            <div>
                <p class="uk-text-justify uk-text-center uk-margin-large-top">Angular é um framework de desenvolvimento front-end desenvolvido pelo Google. Ele é uma ferramenta poderosa e popular para a criação de aplicações web modernas e de página única (SPA - Single Page Applications). O Angular é construído usando a linguagem de programação TypeScript, que adiciona recursos de tipagem estática ao JavaScript, tornando-o mais robusto e escalável.</p>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l" uk-grid>
            <div>
                <p class="uk-text-justify uk-text-center uk-margin-large-top">
                    UIkit é uma biblioteca de interface do usuário (UI) leve e modular, construída em HTML, CSS e JavaScript. Ela é projetada para facilitar o desenvolvimento de interfaces modernas, responsivas e atraentes para sites e aplicações web. O UIkit fornece uma coleção de componentes prontos para uso, como barras de navegação, botões, cartões, modais, entre outros, que podem ser facilmente personalizados para se adequarem ao design do seu projeto.
                </p>
            </div>
            <div class="imagem">
                <img src="assets/uikit.svg" alt="uikit">
            </div>
        </div>
    </div>
</div>