<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>

<div class="uk-section uk-section-muted uk-section background-ferramentas">
        <div class="uk-container">
            <div class="uk-grid-large uk-child-width-1-3@l" uk-grid>
                <div>
                    <h4>Localização</h4>
                    <p>Gamek á direta</p>
                    <p>Dentro do Nosso Centro Gamek</p>
                </div>
                <div>
                    <h4>Horário</h4>
                    <span uk-icon="icon:clock" class="uk-margin-small-right"></span><span>14:00</span>
                    <span uk-icon="icon:clock" class="uk-margin-small-right uk-margin-small-left"></span><span>17:00</span>
                </div>
                <div>
                    <h4>Contactos</h4>
                    <ul class="uk-list">
                        <li>
                            <span uk-icon="icon:mail" class="uk-margin-small-right"></span>comercio@fluxo-diital.com
                        </li>
                        <li>
                            <span uk-icon="icon:receiver" class="uk-margin-small-right"></span>+244 937754502
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<footer class="uk-footer">
    <p class="uk-text-center">&copy;2023 FluxoDevCamp</p>
</footer>